@model IEnumerable<BizApp.Models.Basic.BusinessHomePage_FaqViewModel>
	<section class="stay-gold-asked">
		<div class="container">
			<div class="stay-gold-asked__wrapper">
				<div class="stay-gold-asked__wrapper__title">
					<h4>سوالات متداول درباره این کسب و کار</h4>
				</div>
				@foreach (var item in Model.Take(5))
				{
			<div class="stay-gold-asked__wrapper__ask">
				<div class="stay-gold-asked__wrapper__ask__quastion">
					<p>@item.Question</p>
				</div>
				@{
					if (item.Answers.Count > 0)
					{
						<p>@item.Answers.FirstOrDefault()</p>


					}
					else
					{

						<p class="text-danger">بدون پاسخ</p>
					}

				}
			</div>
				}

			</div>
		</div>
	</section>

