@model BizApp.Models.Basic.BusinessHomePageViewModel


<div class="stay-gold-content__modal modal fade" id="sendmessagetobusinessmodal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="stay-gold-content__modal__header">
					<div class="stay-gold-content__modal__header__title">
						<h2>ارسال پیام</h2>
						<p class="text text-danger" id="errorsendmessage" style="margin-top:10px"></p>
					</div>
					<div class="stay-gold-content__modal__header__close">
						<a href="#" data-dismiss="modal"><svg width="24" height="24" class="icon_svg"><path d="M13.41 12l5.3-5.29a1.004 1.004 0 10-1.42-1.42L12 10.59l-5.29-5.3a1.004 1.004 0 00-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 000 1.42 1 1 0 001.42 0l5.29-5.3 5.29 5.3a1 1 0 001.42 0 1 1 0 000-1.42L13.41 12z"></path></svg></a>
					</div>
				</div>
				<div class="stay-gold-content__modal__body">
					<div class="stay-gold-content__modal__body__content">
						@if (!User.Identity.IsAuthenticated)
						{
						<div class="stay-gold-content__modal__body__content__title">
							<h5>نام و نام خانوادگی</h5>
						</div>
						<input id="businessId" value="@Model.BusinessId"  hidden/>
						<div class="stay-gold-content__modal__body__content__desc">
							<input id="fullName" class="form-control" placeholder="نام و نام خانوادگی را وارد کنید" />
						</div>
						<div class="stay-gold-content__modal__body__content__title">
							<h5>شماره همراه</h5>
						</div>
						<div class="stay-gold-content__modal__body__content__desc">
							<input id="mobile" class="form-control" placeholder="شماره همراه خود را وارد کنید " />
						</div>
						}
						<div class="stay-gold-content__modal__body__content__title">
							<h5>عنوان</h5>
						</div>
						<div class="stay-gold-content__modal__body__content__desc">
							<input id="title" class="form-control" placeholder="عنوان پرسش خود را وارد کنید" />
						</div>
						<div class="stay-gold-content__modal__body__content__title">
							<h5>متن</h5>
						</div>
						<div class="stay-gold-content__modal__body__content__desc">
							<textarea id="message" style="min-height:150px;max-height:150px" class="form-control" placeholder="پرسش خود را وارد کنید">
</textarea>

						</div>
					</div>

				</div>

				<div class="stay-gold-content__modal__footer">
					<div class="stay-gold-content__modal__footer__close">
						<a href="#" data-dismiss="modal">بستن</a>
						<button onclick="sendMessageToBusiness();" style="margin-right:5px" class="btn btn-success">ارسال پیام</button>

					</div>
					<div class="stay-gold-content__modal__footer__report">
						@*<a href="#" data-toggle="tooltip" title="ریپورت">
								<svg width="18" height="18" class="icon_svg"><path d="M6 10V3c4.976 1.098 4.024-1 8 0v7c-4.024-.976-3.024 1.024-8 0zM4 2h1v14H4V2z"></path></svg>
							</a>*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>