@model BizApp.Areas.Profile.Models.Account.ChangePasswordViewModel

@{
	ViewData["Title"] = "تغییر رمز عبور";
	Layout = "~/Areas/Profile/Views/Shared/_AccountSettingLayout.cshtml";
}

<partial name="~/Areas/Profile/Views/Shared/_ShowMessagePartial.cshtml" />

<div class="edit__item__title">
	<h2>تغییر رمز عبور</h2>
</div>

<div class="edit__item__pro-edit">
	<div class="edit__item__pro-edit__form">
		<form asp-area="profile"
			  asp-controller="account"
			  asp-action="ChangePassword"
			  asp-route-returnurl="/profile/account/ChangePassword/"
			  method="post"
			  class="form-horizontal">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CurrentPassword">رمز فعلی</label>
				<p>رمز عبور فعلی خود را وارد کنید</p>
				<input asp-for="CurrentPassword" class="form-control" aria-describedby="" placeholder="">
				<span asp-validation-for="CurrentPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="NewPassword">رمز جدید</label>
				<p>رمز جدید دلخواه خود را وارد کنید</p>
				<input asp-for="NewPassword" class="form-control" aria-describedby="" placeholder="">
				<span asp-validation-for="NewPassword" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ConfirmPassword">تکرار رمز جدید</label>
				<p>رمز جدید خود را مجددا وارد کنید</p>
				<input asp-for="ConfirmPassword" class="form-control" aria-describedby="" placeholder="">
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>


			<button type="submit" class="btn btn-primary">ذخیره رمز عبور</button>
			<a href="/profile/overview">انصراف</a>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
