
@{
	ViewData["Title"] = "BusinessPageUpgrade";
	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessPageLayout.cshtml";
}
<section class="page-intro1">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="page-intro1__text">
					<div class="page-intro1__text__title">
						<h1>تجارت خود را در بیزآپ زنده کنید</h1>
					</div>
					<div class="page-intro1__text__desc">
						<p>افراد را در جریان موارد جدید ، داغ و منحصر به فرد کسب و کار خود با بیزآپ Connect قرار دهید.</p>
					</div>
					<div class="page-intro1__text__button">
			
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="page-intro1__image">
					<img src="~/Designs/MainWebSite/assets/img/connect.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-text-content">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/connect1.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title2">
						<h3>با مشتریان جدید و موجود ارتباط برقرار کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>بیزآپ Connect به شما امکان می دهد به روزرسانی های منظم صفحه کسب و کار خود را ارسال کنید ، بنابراین می توانید داستانی را تعریف کنید که مورد توجه مشتریان جدید قرار گرفته و به آنها کمک می کند اطلاعات بیشتری در مورد کسب و کار شما کسب کنند.</p>
					</div>
				</div>
			</div>

		</div>
		<div class="row align-items-center">

			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title2">
						<h3>در مکان های بیشتری به مشتری برسید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>پست های شما به مشتریان جدید و موجود در برنامه بیزآپ و در خلاصه نامه های الکترونیکی اشتراک گذاشته شده با 5+ میلیون کاربر در هر هفته ارتقا می یابد.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/connect2.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-location">
	<div class="container">
		<div class="page-location__title">
			<h2>به مشتریان اطلاع دهید که چه موارد جدیدی در کسب و کار شما وجود دارد</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/c1.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>به روزرسانی ها را به صفحه خود ارسال کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>یک تصویر بارگذاری کنید و متن اضافه کنید تا در مورد معاملات ویژه ، تغییرات اخیر و خدمات جدید به مشتریان بگویید.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/c2.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>از هر دستگاهی یک پست ایجاد کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>از برنامه بیزآپ for Business یا وب سایت وب از پست بیزآپ Connect ایجاد پست کنید.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/c3.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>ببینید چه کسی با پست های شما درگیر می شود</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>ببینید چند نفر با پست های شما ، اطلاعات جمعیتی آنها و محله هایی که در آنها رفت و آمد دارند تعامل دارند.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-blog page-blog--white">
	<div class="container">
		<div class="page-blog__title">
			<h3>بیاموزید که چگونه تجارت حرفه ای خود را در بیزآپ مانند یک حرفه ای بازاریابی کنید</h3>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b1.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>10 راه برای برقراری ارتباط با مشتریان خود با استفاده از بیزآپ Connect</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b2.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>با استفاده از بیزآپ Connect برای به اشتراک گذاشتن به روزرسانی ها در پاسخ به ویروس کرونا</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b3.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>انتخاب عکس های مناسب برای بازاریابی تجارت خود</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-alert">
	<div class="container">
		<div class="page-alert__wrapper">
			<div class="page-alert__title">
				<h2>برای شروع آماده هستید؟ رایگان ، آسان است و فقط چند دقیقه طول می کشد.</h2>
			</div>
			<div class="page-alert__button">
		
			</div>
		</div>
	</div>
</section>

<section class="page-text">
	<div class="container">
		<div class="page-text__desc">
			<span>¹ آمار کام اسکار، اکتبر 2019</span>
			<p>² بر اساس یک نظرسنجی که توسط SurveyMonkey برای بیزآپ در ژوئن 2019. مجموع نمونه از 6338 بزرگسالان 18 ساله و مسن تر زندگی در ایالات متحده، از جمله 5028 که آنلاین رفته بود به جستجو برای یک کسب و کار محلی انجام شده است. افرادی که نمونه بیزآپ را دارند: استفاده از بیزآپ حداقل 3 بار در گذشته گزارش شده است. داده ها از نظر جمعیتی وزن دارند تا نماینده جمعیت آنلاین ایالات متحده باشند.</p>
			<span>internal داده های داخلی بیزآپ 2019</span>

		</div>
	</div>
</section>