
@{
	ViewData["Title"] = "HomeAndLocalService";
	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessPageLayout.cshtml";
}
<section class="page-intro1">
	<div class="container">
		<div class="page-intro1__center-text">
			<div class="page-intro1__center-text__title">
				<h1>خانه و مشاغل خدمات محلی خود را رشد دهید</h1>
			</div>
			<div class="page-intro1__center-text__desc">
				<p>بیزآپ طیف وسیعی از راه حل ها را ارائه می دهد که می تواند به شما در جذب مشتری جدید و تبدیل آگهی های بیشتر کمک کند.</p>
			</div>
			<div class="page-intro1__center-text__button">
			
			</div>
		</div>
	</div>
</section>
<section class="page-slider">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
		
				<img src="~/Designs/MainWebSite/assets/img/slide1.jpg" alt="">
			</div>
			<div class="swiper-slide">
				<img src="~/Designs/MainWebSite/assets/img/slide2.jpg" alt="">
			</div>
			<div class="swiper-slide">
				<img src="~/Designs/MainWebSite/assets/img/slide3.jpg" alt="">
			</div>
		</div>
	</div>
</section>

<section class="page-location page-location--white">
	<div class="container">
		<div class="page-location__title">
			<h2>مشتریان آینده شما در بیزآپ هستند و آنها آماده هزینه هستند</h2>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="page-location__item">
					<div class="page-location__item__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><rect x="6" y="28" width="19" height="8" rx="3.75" fill="#EEEEEF"></rect><rect x="21" y="25" width="4" height="8" fill="white"></rect><rect x="17.6992" y="2" width="16.53" height="10" rx="5" fill="#EEEEEF"></rect><path d="M31.9995 29.1104V29.6704L28.4995 32.3404L24.9995 30.0004V29.1104C21.1245 29.7334 18.2737 33.0755 18.2695 37.0004C18.2695 37.5526 18.7172 38.0004 19.2695 38.0004H37.7295C38.2818 38.0004 38.7295 37.5526 38.7295 37.0004C38.7253 33.0755 35.8746 29.7334 31.9995 29.1104Z" fill="#F43939"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M25 10H32C34.7614 10 37 12.2386 37 15V21C37 21.5523 36.5523 22 36 22H35V24C34.9914 25.4204 34.2302 26.7298 33 27.44V30C32.9985 30.3219 32.8422 30.6233 32.58 30.81L29.08 33.31C28.7328 33.5572 28.2672 33.5572 27.92 33.31L24.42 30.81C24.1578 30.6233 24.0015 30.3219 24 30V23C23.4477 23 23 22.5523 23 22C23 21.4477 23.4477 21 24 21C24.5523 21 25 20.5523 25 20V16C24.9965 15.6434 25.1832 15.3119 25.49 15.13C25.7994 14.9514 26.1806 14.9514 26.49 15.13L35 19.86V15C35 13.3431 33.6569 12 32 12H25C23.3431 12 22 13.3431 22 15V28C22 30.2091 20.2091 32 18 32C17.4477 32 17 31.5523 17 31C17 30.4477 17.4477 30 18 30C19.1046 30 20 29.1046 20 28V15C20 12.2386 22.2386 10 25 10ZM30 26H31C32.1046 26 33 25.1046 33 24V21L27 17.7V20C26.9954 20.8481 26.6321 21.6546 26 22.22V29.49L28.5 31.27L31 29.49V28H30C29.4477 28 29 27.5523 29 27C29 26.4477 29.4477 26 30 26Z" fill="#2B273C"></path><path d="M8.84 21.12L11.92 23.31C12.2672 23.5572 12.7328 23.5572 13.08 23.31L16.29 21C16.7744 21.0171 17.2547 21.0944 17.72 21.23L18 21.33V19.26C17.6708 19.1765 17.3369 19.1131 17 19.07V13C17 12.4477 16.5523 12 16 12C15.4477 12 15 12.4477 15 13V19.49L12.5 21.27L10 19.49V18H11C11.5523 18 12 17.5523 12 17C12 16.4477 11.5523 16 11 16H10C8 16 8 15.47 8 15V7C8 6.44772 7.55228 6 7 6C6.44772 6 6 6.44772 6 7V15C5.91577 16.2726 6.76016 17.421 8 17.72V19.26C4.47 20.1714 2.00272 23.3542 2 27C2 27.5523 2.44772 28 3 28H18V26H4.08C4.49876 23.5424 6.39359 21.5998 8.84 21.12Z" fill="#2B273C"></path><path d="M15 3H5C4.44772 3 4 3.44772 4 4C4 6.76142 6.23858 9 9 9H12.17C12.5339 10.3785 13.6177 11.4508 15 11.8V15.68C14.9974 16.0602 15.2105 16.4089 15.55 16.58C15.6902 16.6479 15.8443 16.6822 16 16.68C16.2164 16.68 16.4269 16.6098 16.6 16.48L18.6 14.97C18.8518 14.7811 19 14.4848 19 14.17V7C19 4.79086 17.2091 3 15 3Z" fill="#F43939"></path></svg>
					</div>
					<div class="page-location__item__text">
						<div class="page-location__item__text__desc">
							<p>تقریباً دوسوم بازدیدهای ماهانه بیزآپ از 90+ میلیون نفر مربوط به افراد بالای 35 سال است و <b>بیش از نیمی از کاربران بیش از 100 هزار دلار در سال</b> درآمد دارند 2.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="page-location__item">
					<div class="page-location__item__icon">
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M36 21H27.47L27.36 21.09L29 26H27V36H36C36.5304 36 37.0391 35.7893 37.4142 35.4142C37.7893 35.0391 38 34.5304 38 34V23C38 22.4696 37.7893 21.9609 37.4142 21.5858C37.0391 21.2107 36.5304 21 36 21Z" fill="#EEEEEF"></path><path d="M14 12C14.0026 9.98078 14.8066 8.04517 16.2354 6.61831C17.6641 5.19144 19.6008 4.39 21.62 4.39H23V4C23 3.46957 22.7893 2.96086 22.4142 2.58579C22.0391 2.21071 21.5304 2 21 2H4C3.46957 2 2.96086 2.21071 2.58579 2.58579C2.21071 2.96086 2 3.46957 2 4V13C2 13.5304 2.21071 14.0391 2.58579 14.4142C2.96086 14.7893 3.46957 15 4 15H14.64C14.2234 14.0544 14.0055 13.0333 14 12V12Z" fill="#EEEEEF"></path><path d="M7 17V14H25V17" fill="white"></path><path d="M32.3807 6.33996H21.6207C20.8634 6.30799 20.1074 6.42955 19.3983 6.69732C18.6892 6.96509 18.0416 7.37354 17.4944 7.89809C16.9473 8.42264 16.5119 9.05246 16.2144 9.74964C15.917 10.4468 15.7637 11.197 15.7637 11.955C15.7637 12.7129 15.917 13.4631 16.2144 14.1603C16.5119 14.8575 16.9473 15.4873 17.4944 16.0118C18.0416 16.5364 18.6892 16.9448 19.3983 17.2126C20.1074 17.4804 20.8634 17.6019 21.6207 17.57H22.1507V20.66C22.1521 20.8495 22.2074 21.0348 22.3101 21.1941C22.4128 21.3535 22.5586 21.4803 22.7307 21.56C22.8605 21.6269 23.0046 21.6612 23.1507 21.66C23.3843 21.6604 23.6108 21.579 23.7907 21.43L28.5107 17.57H32.3807C33.138 17.6019 33.8939 17.4804 34.6031 17.2126C35.3122 16.9448 35.9598 16.5364 36.5069 16.0118C37.0541 15.4873 37.4895 14.8575 37.7869 14.1603C38.0844 13.4631 38.2377 12.7129 38.2377 11.955C38.2377 11.197 38.0844 10.4468 37.7869 9.74964C37.4895 9.05246 37.0541 8.42264 36.5069 7.89809C35.9598 7.37354 35.3122 6.96509 34.6031 6.69732C33.8939 6.42955 33.138 6.30799 32.3807 6.33996V6.33996Z" fill="#EE3B3C"></path><path d="M14.08 13H7C6.73478 13 6.48043 13.1054 6.29289 13.2929C6.10536 13.4804 6 13.7348 6 14V17H8V15H14.64C14.3662 14.3608 14.178 13.6884 14.08 13V13Z" fill="#2B273C"></path><path d="M28.5201 20.1398L26.9101 21.4598L28.4601 24.9998H4.46012L6.59012 20.0898H20.1501V19.4098C19.0664 19.1921 18.0429 18.7417 17.1501 18.0898H6.00012C5.80495 18.0892 5.61385 18.1456 5.45037 18.2522C5.28689 18.3588 5.15819 18.511 5.08012 18.6899L2.08012 25.5999C2.01332 25.7523 1.98565 25.9191 1.99962 26.085C2.01359 26.2509 2.06876 26.4107 2.16012 26.5498C2.25164 26.6888 2.37639 26.8028 2.52307 26.8813C2.66975 26.9599 2.83372 27.0007 3.00012 26.9998H5.00012V36.9998C5.00012 37.2651 5.10548 37.5194 5.29301 37.707C5.48055 37.8945 5.7349 37.9998 6.00012 37.9998H27.0001C27.2653 37.9998 27.5197 37.8945 27.7072 37.707C27.8948 37.5194 28.0001 37.2651 28.0001 36.9998V26.9998H30.0001C30.1648 26.999 30.3268 26.9575 30.4716 26.879C30.6164 26.8005 30.7395 26.6874 30.8301 26.5498C30.9215 26.4107 30.9766 26.2509 30.9906 26.085C31.0046 25.9191 30.9769 25.7523 30.9101 25.5999L28.5201 20.1398ZM19.0001 35.9998H14.0001V30.9998H19.0001V35.9998ZM26.0001 35.9998H21.0001V29.9998C21.0001 29.7346 20.8948 29.4803 20.7072 29.2927C20.5197 29.1052 20.2653 28.9998 20.0001 28.9998H13.0001C12.7349 28.9998 12.4805 29.1052 12.293 29.2927C12.1055 29.4803 12.0001 29.7346 12.0001 29.9998V35.9998H7.00012V26.9998H26.0001V35.9998Z" fill="#2B273C"></path></svg>
					</div>
					<div class="page-location__item__text">
						<div class="page-location__item__text__desc">
							<p>روزانه بیش از 50،000 درخواست شغلی 3 از مشتریان بالقوه به مشاغل ارسال می شود. و 97٪ از کاربران طی یک هفته در مشاغلی که در بیزآپ پیدا کرده اند خرید می کنند 4.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-location">
	<div class="container">
		<div class="page-location__title">
			<h2>صفحه خود را به صورت رایگان مدیریت کنید</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info1.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>اطلاعات کسب و کار خود را به روز کنید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>اطلاعات تماس ، ساعات کار خود را به روز کرده و جزئیات امکانات و خدماتی را که تجارت شما ارائه می دهد ارائه دهید.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info2.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>پیام ها را دریافت و به آنها پاسخ دهید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>مشتریان می توانند برای پرسیدن س ،ال ، درخواست نقل قول یا تعیین وقت ملاقات مستقیماً به شما پیام دهند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info3.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>به بررسی ها پاسخ دهید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>با پاسخ به نظرات مشتری اعتماد ایجاد کنید. پاسخ مناسب به یک بررسی مهم می تواند تجربه کلی مشتری را بهبود بخشد.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-text-content">
	<div class="container">
		<div class="page-text-content__title">
			<h2>از رقابت بیرون بیایید و به افراد بیشتری دسترسی پیدا کنید</h2>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/solo1.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title">
						<span>صفحه به روز می شود</span>
					</div>
					<div class="page-text-content__text__title2">
						<h3>به مشتریان اعتماد به نفس دهید تا شما را انتخاب کنند</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>
							بهترین کار خود را با عکس ها و توضیحات پروژه به نمایش بگذارید ، از نظر بصری در نتایج جستجو
							برجسته شوید ، با استفاده از دکمه های تماس به اقدام بیشتر بازدید بیشتری کنید و سایر موارد.
						</p>
					</div>
					<div class="page-text-content__text__link">
						<a href="#">
							بیشتر بدانید<svg width="16" height="16" class="icon_svg">
								<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
								</path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/solo2.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title">
						<span>مجوز تأیید شده</span>
					</div>
					<div class="page-text-content__text__title2">
						<h3>با مشتریان بالقوه اعتماد ایجاد کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>مجوز تجارت خود را به طور برجسته در نتایج جستجو و در صفحه کسب و کار خود نمایش دهید.</p>
					</div>
					<div class="page-text-content__text__link">
						<a href="#">
							بیشتر بدانید<svg width="16" height="16" class="icon_svg">
								<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
								</path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/solo3.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title">
						<span>تبلیغات بیزآپ</span>
					</div>
					<div class="page-text-content__text__title2">
						<h3>مشتریان بیشتری را برای تجارت خود جذب کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>در همان لحظه در جستجوی مشاغل خدمات خانگی و محلی مانند خود باشید ، در مقابل مشتریان بالقوه قرار بگیرید</p>
					</div>
					<div class="page-text-content__text__link">
						<a href="#">
							بیشتر بدانید<svg width="16" height="16" class="icon_svg">
								<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
								</path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/solo4.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title">
						<span>بیزآپ متصل شوید</span>
					</div>
					<div class="page-text-content__text__title2">
						<h3>تجارت خود را در بیزآپ زنده کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>به مشتریان اطلاع دهید که چه موارد جدید است و معاملات ویژه ای را در صفحه شما ارائه می دهند. پست های شما همچنین در صفحه اصلی برنامه بیزآپ و در ایمیل های هفتگی تبلیغ می شوند.</p>
					</div>
					<div class="page-text-content__text__link">
						<a href="#">
							بیشتر بدانید<svg width="16" height="16" class="icon_svg">
								<path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z">
								</path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-video page-video--no-seprate">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-video__title">
					<h2>ببینید چقدر آسان است که یک کار بالقوه را به مشتری راضی تبدیل کنید</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="page-video__name">
					<p>این فیلم کوتاه را مشاهده کنید تا بیاموزید چگونه می توانید آگهی های جدیدی ایجاد کنید و حتی با بیزآپ for Business قرارداد ببندید.</p>
				</div>
			</div>
		</div>
		<div class="page-video__img-video">
			<img src="./assets/img/video3.jpg" alt="">
			<svg width="40" height="40" class="icon_svg"><path d="M27.444 19.21l-9.83-7.636a1 1 0 00-1.614.79v15.272a1 1 0 001.613.79l9.831-7.636a1 1 0 000-1.58z"></path><path d="M20 37.667A17.667 17.667 0 1137.667 20 17.688 17.688 0 0120 37.667zm0-33.334A15.667 15.667 0 1035.667 20 15.685 15.685 0 0020 4.333z"></path></svg>
		</div>
	</div>
</section>
<section class="page-blog page-blog--white">
	<div class="container">
		<div class="page-blog__title">
			<h3>بیاموزید که چگونه تجارت حرفه ای خود را در بیزآپ مانند یک حرفه ای بازاریابی کنید</h3>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b4.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>چگونه سرب را به فروش تبدیل کنیم</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b5.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>انتخاب عکس های مناسب برای بازاریابی تجارت خود</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/b6.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>5 نکته برای مشاوره موفقیت آمیز در فروش مجازی</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-alert">
	<div class="container">
		<div class="page-alert__wrapper">
			<div class="page-alert__title">
				<h2>برای شروع آماده هستید؟ رایگان ، آسان است و فقط چند دقیقه طول می کشد.</h2>
			</div>
			<div class="page-alert__button">

			</div>
		</div>
	</div>
</section>

<section class="page-text">
	<div class="container">
		<div class="page-text__desc">
			<span>¹ آمار کام اسکار، اکتبر 2019</span>
			<p>² بر اساس یک نظرسنجی که توسط SurveyMonkey برای بیزآپ در ژوئن 2019. مجموع نمونه از 6338 بزرگسالان 18 ساله و مسن تر زندگی در ایالات متحده، از جمله 5028 که آنلاین رفته بود به جستجو برای یک کسب و کار محلی انجام شده است. افرادی که نمونه بیزآپ را دارند: استفاده از بیزآپ حداقل 3 بار در گذشته گزارش شده است. داده ها از نظر جمعیتی وزن دارند تا نماینده جمعیت آنلاین ایالات متحده باشند.</p>
			<span>internal داده های داخلی بیزآپ 2021</span>

		</div>
	</div>
</section>