@{

	Layout = "_BusinessPageLayout";

}

	<section class="page-intro">
		<div class="page-intro__background">
			<img src="~/Designs/MainWebSite/assets/img/header-page1.jpg" alt="">
		</div>
		<div class="container">
			<div class="page-intro__box">
				<div class="page-intro__box__text">
					<div class="page-intro__box__text__title">
						<h1>تجارت خود را با بیزاپ توسعه دهید</h1>
					</div>
					<div class="page-intro__box__text__desc">
						<p>افراد در بیزاپ به دنبال هزینه کردن پول خود با یک تجارت محلی مناسب هستند. اطمینان حاصل کنید که آنها شما را انتخاب می کنند.</p>
					</div>
					<div class="page-intro__box__text__button">
						@*<a href="#">لیست رایگان من را مدیریت کنید</a>*@
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-services">
		<div class="container">
			<div class="page-services__title">
				<h2>میلیون ها نفر آماده خرید ، بازدید و استخدام ، کشف می شوند</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="page-services__item">
						<div class="page-services__item__image">
							<img src="~/Designs/MainWebSite/assets/img/page-services1.png" alt="">
						</div>
						<div class="page-services__item__title">
							<h3>5+ میلیون نفر</h3>
						</div>
						<div class="page-services__item__desc">
							<p>برای یافتن رستوران ، خدمات خانه و موارد دیگر هر ماه به بیزاپ مراجعه کنید</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="page-services__item">
						<div class="page-services__item__image">
							<img src="~/Designs/MainWebSite/assets/img/page-services1.png" alt="">
						</div>
						<div class="page-services__item__title">
							<h3>5+ میلیون نفر</h3>
						</div>
						<div class="page-services__item__desc">
							<p>برای یافتن رستوران ، خدمات خانه و موارد دیگر هر ماه به بیزاپ مراجعه کنید</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-text-content">
		<div class="container">
			<div class="page-text-content__title">
				<h2>بیزاپ ارتباط با مشتریان جدید و رشد تجارت شما را آسان می کند</h2>
			</div>
			<div class="row align-items-center">
				<div class="col-sm-6">
					<div class="page-text-content__image">
						<img src="~/Designs/MainWebSite/assets/img/page-text-content1.png" alt="">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-text-content__text">
						<div class="page-text-content__text__title">
							<span>صفحه کسب و کار</span>
						</div>
						<div class="page-text-content__text__title2">
							<h3>به مردم کمک کنید تا شما را بشناسند</h3>
						</div>
						<div class="page-text-content__text__desc">
							<p>حضور پررنگ در بیزاپ به شما کمک می کند تا با مشتریان بالقوه اعتماد کنید. صفحه خود را به صورت رایگان مدیریت کنید یا آن را ارتقا دهید تا از رقبا جدا شوید.</p>

						</div>
						<div class="page-text-content__text__list">
							<ul>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
							</ul>
						</div>
						<div class="page-text-content__text__link">
							<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-sm-6">
					<div class="page-text-content__image">
						<img src="~/Designs/MainWebSite/assets/img/page-text-content1.png" alt="">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-text-content__text">
						<div class="page-text-content__text__title">
							<span>صفحه کسب و کار</span>
						</div>
						<div class="page-text-content__text__title2">
							<h3>به مردم کمک کنید تا شما را بشناسند</h3>
						</div>
						<div class="page-text-content__text__desc">
							<p>حضور پررنگ در بیزاپ به شما کمک می کند تا با مشتریان بالقوه اعتماد کنید. صفحه خود را به صورت رایگان مدیریت کنید یا آن را ارتقا دهید تا از رقبا جدا شوید.</p>

						</div>
						<div class="page-text-content__text__list">
							<ul>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
							</ul>
						</div>
						<div class="page-text-content__text__link">
							<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-sm-6">
					<div class="page-text-content__image">
						<img src="~/Designs/MainWebSite/assets/img/page-text-content1.png" alt="">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-text-content__text">
						<div class="page-text-content__text__title">
							<span>صفحه کسب و کار</span>
						</div>
						<div class="page-text-content__text__title2">
							<h3>به مردم کمک کنید تا شما را بشناسند</h3>
						</div>
						<div class="page-text-content__text__desc">
							<p>حضور پررنگ در بیزاپ به شما کمک می کند تا با مشتریان بالقوه اعتماد کنید. صفحه خود را به صورت رایگان مدیریت کنید یا آن را ارتقا دهید تا از رقبا جدا شوید.</p>

						</div>
						<div class="page-text-content__text__list">
							<ul>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
								<li>
									<svg width="16" height="16" class="icon_svg"><path d="M6.31 12a1 1 0 01-.71-.29L3 9.08a1 1 0 010-1.41 1 1 0 011.41 0l1.9 1.93 5.32-5.32A1 1 0 1113 5.69l-6 6a1 1 0 01-.69.31z"></path></svg>
									اطلاعات کسب و کار خود را به روز کنید تا افراد بتوانند شما را پیدا کنند
								</li>
							</ul>
						</div>
						<div class="page-text-content__text__link">
							<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-location">
		<div class="container">
			<div class="page-location__title">
				<h2>راه حل های مناسب برای تجارت خود پیدا کنید</h2>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="page-location__item">
						<div class="page-location__item__icon">
							<img src="~/Designs/MainWebSite/assets/img/page-location.svg" alt="">
						</div>
						<div class="page-location__item__text">
							<div class="page-location__item__text__title">
								<h5>خدمات محلی و محلی</h5>
							</div>
							<div class="page-location__item__text__desc">
								<p>با طیف وسیعی از راه حل های بیزاپ که به جذب مشتری بیشتر کمک می کند ، در خانه و تجارت محلی خود مشاغل خود را گسترش دهید.</p>
							</div>
							<div class="page-location__item__text__link">
								<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-location__item">
						<div class="page-location__item__icon">
							<img src="~/Designs/MainWebSite/assets/img/page-location.svg" alt="">
						</div>
						<div class="page-location__item__text">
							<div class="page-location__item__text__title">
								<h5>خدمات محلی و محلی</h5>
							</div>
							<div class="page-location__item__text__desc">
								<p>با طیف وسیعی از راه حل های بیزاپ که به جذب مشتری بیشتر کمک می کند ، در خانه و تجارت محلی خود مشاغل خود را گسترش دهید.</p>
							</div>
							<div class="page-location__item__text__link">
								<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-location__item">
						<div class="page-location__item__icon">
							<img src="~/Designs/MainWebSite/assets/img/page-location.svg" alt="">
						</div>
						<div class="page-location__item__text">
							<div class="page-location__item__text__title">
								<h5>خدمات محلی و محلی</h5>
							</div>
							<div class="page-location__item__text__desc">
								<p>با طیف وسیعی از راه حل های بیزاپ که به جذب مشتری بیشتر کمک می کند ، در خانه و تجارت محلی خود مشاغل خود را گسترش دهید.</p>
							</div>
							<div class="page-location__item__text__link">
								<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="page-location__item">
						<div class="page-location__item__icon">
							<img src="~/Designs/MainWebSite/assets/img/page-location.svg" alt="">
						</div>
						<div class="page-location__item__text">
							<div class="page-location__item__text__title">
								<h5>خدمات محلی و محلی</h5>
							</div>
							<div class="page-location__item__text__desc">
								<p>با طیف وسیعی از راه حل های بیزاپ که به جذب مشتری بیشتر کمک می کند ، در خانه و تجارت محلی خود مشاغل خود را گسترش دهید.</p>
							</div>
							<div class="page-location__item__text__link">
								<a href="#">بیشتر بدانید<svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<section class="page-learn">
		<div class="container">
			<div class="page-learn__title">
				<h2>بیاموزید که چگونه تجارت حرفه ای خود را در بیزاپ مانند یک حرفه ای بازاریابی کنید</h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="page-learn__item">
						<div class="page-learn__item__image">
							<img src="~/Designs/MainWebSite/assets/img/page-learn.jpg" alt="">
						</div>
						<div class="page-learn__item__title">
							<h5>5 کار رایگان که نمی دانید می توانید در صفحه بیزاپ خود انجام دهید</h5>
						</div>
						<div class="page-learn__item__link">
							<a href="#">مقاله را بخوانید <svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="page-learn__item">
						<div class="page-learn__item__image">
							<img src="~/Designs/MainWebSite/assets/img/page-learn.jpg" alt="">
						</div>
						<div class="page-learn__item__title">
							<h5>5 کار رایگان که نمی دانید می توانید در صفحه بیزاپ خود انجام دهید</h5>
						</div>
						<div class="page-learn__item__link">
							<a href="#">مقاله را بخوانید <svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="page-learn__item">
						<div class="page-learn__item__image">
							<img src="~/Designs/MainWebSite/assets/img/page-learn.jpg" alt="">
						</div>
						<div class="page-learn__item__title">
							<h5>5 کار رایگان که نمی دانید می توانید در صفحه بیزاپ خود انجام دهید</h5>
						</div>
						<div class="page-learn__item__link">
							<a href="#">مقاله را بخوانید <svg width="16" height="16" class="icon_svg"><path d="M13.46 7.3l-3-3.06A1.015 1.015 0 109 5.65L10.37 7H3.25a1 1 0 000 2h7.12L9 10.35a1 1 0 000 1.42 1 1 0 00.7.28 1 1 0 00.71-.29l3-3.06a1 1 0 00.05-1.4z"></path></svg></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="page-video page-video--no-seprate">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="page-video__title">
						<h2>ببینید که چگونه Pod Photography مشتری های جدید را با بیزاپ جذب می کند</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="page-video__desc">
						<p>من وقت زیادی برای بازاریابی نداشتم و بیزاپ راه آسان برای انجام آن بود.</p>
					</div>
					<div class="page-video__name">
						<p>اریکا سرس ، عکاسی غلاف</p>
					</div>
					<div class="page-video__location">
						<p>Culver City, CA</p>
					</div>
				</div>
			</div>
			<div class="page-video__img-video">
				<img src="~/Designs/MainWebSite/assets/img/page-video.jpg" alt="">
				<svg width="40" height="40" class="icon_svg"><path d="M27.444 19.21l-9.83-7.636a1 1 0 00-1.614.79v15.272a1 1 0 001.613.79l9.831-7.636a1 1 0 000-1.58z"></path><path d="M20 37.667A17.667 17.667 0 1137.667 20 17.688 17.688 0 0120 37.667zm0-33.334A15.667 15.667 0 1035.667 20 15.685 15.685 0 0020 4.333z"></path></svg>
			</div>
		</div>
	</section>
	<section class="page-alert">
		<div class="container">
			<div class="page-alert__wrapper">
				<div class="page-alert__title">
					<h2>برای شروع آماده هستید؟ رایگان ، آسان است و فقط چند دقیقه طول می کشد.</h2>
				</div>
				<div class="page-alert__button">
					@*<a href="#">لیست رایگان من را مدیریت کنید</a>*@
				</div>
			</div>
		</div>
	</section>

	<section class="page-text">
		<div class="container">
			<div class="page-text__desc">
				<span>¹ آمار کام اسکار، اکتبر 2019</span>
				<p>² بر اساس یک نظرسنجی که توسط SurveyMonkey برای بیزاپ در ژوئن 2019. مجموع نمونه از 6338 بزرگسالان 18 ساله و مسن تر زندگی در ایالات متحده، از جمله 5028 که آنلاین رفته بود به جستجو برای یک کسب و کار محلی انجام شده است. افرادی که نمونه بیزاپ را دارند: استفاده از بیزاپ حداقل 3 بار در گذشته گزارش شده است. داده ها از نظر جمعیتی وزن دارند تا نماینده جمعیت آنلاین ایالات متحده باشند.</p>
				<span>internal داده های داخلی بیزاپ 2019</span>

			</div>
		</div>
	</section>
