
@{
	ViewData["Title"] = "PageAds";
	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessPageLayout.cshtml";
}

<section class="page-intro1">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="page-intro1__text">
					<div class="page-intro1__text__title">
						<h1>تجارت خود را با بیزآپ توسعه دهید</h1>
					</div>
					<div class="page-intro1__text__desc">
						<ul>
							<li>
								<svg viewBox="0 0 512 512" width="16" height="16" class="icon_svg">
									<g>
										<g>
											<path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                C514.5,101.703,514.499,85.494,504.502,75.496z" />
										</g>
									</g>
								</svg>با 3X مشتری بالقوه بیشتر تماس بگیرید
							</li>
							<li>
								<svg viewBox="0 0 512 512" width="16" height="16" class="icon_svg">
									<g>
										<g>
											<path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                    C514.5,101.703,514.499,85.494,504.502,75.496z" />
										</g>
									</g>
								</svg>در عرض چند دقیقه تبلیغ خود را ایجاد کنید
							</li>
							<li>
								<svg viewBox="0 0 512 512" width="16" height="16" class="icon_svg">
									<g>
										<g>
											<path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0
                                        c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7
                                        C514.5,101.703,514.499,85.494,504.502,75.496z" />
										</g>
									</g>
								</svg>با فقط زمانی پرداخت کنید که کسی تبلیغ شما را کلیک کند
							</li>
						</ul>
						<span>
							<svg viewBox="0 0 330.001 330.001" width="25" height="25" class="icon_svg">
								<path id="XMLID_517_" d="M298.684,128.855C296.264,123.467,290.908,120,285,120h-90.788l25.34-101.362
                           c1.676-6.7-1.441-13.678-7.548-16.903c-6.105-3.224-13.627-1.863-18.215,3.299l-160,180c-3.924,4.414-4.893,10.722-2.473,16.11
                           C33.737,206.534,39.094,210,45,210h90.789l-25.341,101.362c-1.675,6.7,1.441,13.678,7.548,16.903
                           c2.216,1.17,4.617,1.736,6.998,1.736c4.18,0,8.294-1.746,11.217-5.035l160-180C300.136,140.551,301.104,134.244,298.684,128.855z
                            M154.366,259.387l15.187-60.748c1.121-4.482,0.114-9.229-2.729-12.869C163.981,182.128,159.62,180,155,180H78.403l97.232-109.386
                           l-15.187,60.748c-1.12,4.481-0.113,9.229,2.729,12.869C166.02,147.873,170.381,150,175,150h76.598L154.366,259.387z" />
							</svg><b>پیشنهاد ویژه</b>300 دلار اعتبار رایگان هنگام خرید تبلیغات بیزآپ *<a href="#">با شرایط</a>
						</span>
					</div>
					<div class="page-intro1__text__button">
	
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="page-intro1__image">
					<img src="~/Designs/MainWebSite/assets/img/ads.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-text-content">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/sponsored.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title2">
						<h3>به افراد بیشتری که آماده هزینه هستند ، دسترسی پیدا کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>بیزآپ Ads تجارت شما را بالاتر از نتایج جستجو و در صفحات رقبا قرار می دهد. این بدان معناست که مشتریان در جستجوی خدماتی که شما ارائه می دهید ، بیشتر شما را پیدا می کنند.</p>
						<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M22.57 1.92994C22.2998 1.74485 21.9562 1.70375 21.65 1.81994L6.4 7.57994C6.02748 7.21045 5.52468 7.00215 5 6.99994H3C1.89543 6.99994 1 7.89537 1 8.99994V13.9999C1 15.1045 1.89543 15.9999 3 15.9999H5C5.52815 16.0004 6.03502 15.7919 6.41 15.4199L8.67 16.2799C8.13895 18.479 9.32682 20.7296 11.442 21.532C13.5571 22.3344 15.9389 21.4379 17 19.4399L21.61 21.1799C21.7222 21.2207 21.8407 21.241 21.96 21.2399C22.1623 21.2388 22.3601 21.1798 22.53 21.0699C22.8018 20.8814 22.9628 20.5707 22.96 20.2399V2.75994C22.972 2.43646 22.8267 2.12718 22.57 1.92994ZM3 13.9999V8.99994H5V13.9999H3ZM13 19.9999C11.6193 19.9999 10.5 18.8807 10.5 17.4999C10.5037 17.3278 10.5271 17.1567 10.57 16.9899L15.17 18.7299C14.7261 19.5112 13.8985 19.9955 13 19.9999ZM21 18.7999L7 13.5099V9.50994L21 4.19994V18.7999Z" fill="#2B273C"></path></svg> با تبلیغات بیزآپ به 3X مشتری بیشتر برسید .1.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-location">
	<div class="container">
		<div class="page-location__title">
			<h2>تبلیغ خود را با سهولت ایجاد و مدیریت کنید</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss1.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>پرداخت برای هر کلیک</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>برداشت رایگان است شما فقط زمانی پرداخت می کنید که شخصی روی تبلیغ شما کلیک کند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss2.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>تبلیغ خود را سفارشی کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>عکس و متن را در آگهی خود ویرایش کنید ، یا به الگوریتم های بیزآپ اجازه دهید آنها را از طرف شما بهینه کنند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">

					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss3.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>هدف تبلیغات خود را ایجاد کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>آیا می خواهید با استفاده از دکمه تبلیغات شما افراد مستقیماً با شما تماس بگیرند یا به شما پیام دهند ، از وب سایت شما بازدید کنند یا نقشه ای برای راهنمایی ها باز کنند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss4.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>پرداخت برای هر کلیک</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>برداشت رایگان است شما فقط زمانی پرداخت می کنید که شخصی روی تبلیغ شما کلیک کند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss5.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>تبلیغ خود را سفارشی کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>عکس و متن را در آگهی خود ویرایش کنید ، یا به الگوریتم های بیزآپ اجازه دهید آنها را از طرف شما بهینه کنند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__ads">
					<div class="page-location__ads__image">
						<img src="~/Designs/MainWebSite/assets/img/adss6.png" alt="">
					</div>
					<div class="page-location__ads__title">
						<h2>هدف تبلیغات خود را ایجاد کنید</h2>
					</div>
					<div class="page-location__ads__desc">
						<p>آیا می خواهید با استفاده از دکمه تبلیغات شما افراد مستقیماً با شما تماس بگیرند یا به شما پیام دهند ، از وب سایت شما بازدید کنند یا نقشه ای برای راهنمایی ها باز کنند.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-video page-video--no-seprate">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-video__title">
					<h2>ببینید که مانی چگونه با تبلیغات تجارت خود را رشد می دهد</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="page-video__desc">
					<p>"از زمانی که تبلیغات را شروع کردم ، تفاوت را مشاهده کردم. 90٪ از تماس های تلفنی دریافتی ما از طریق بیزآپ بوده است. "</p>
				</div>
				<div class="page-video__name">
					<p>Manny S. ، Manny’s Heating و تهویه مطبوع</p>
				</div>
				<div class="page-video__location">
					<p>لس آنجلس ، کالیفرنیا</p>
				</div>
			</div>
		</div>
		<div class="page-video__img-video">
			<img src="~/Designs/MainWebSite/assets/img/video2.jpg" alt="">
			<svg width="40" height="40" class="icon_svg"><path d="M27.444 19.21l-9.83-7.636a1 1 0 00-1.614.79v15.272a1 1 0 001.613.79l9.831-7.636a1 1 0 000-1.58z"></path><path d="M20 37.667A17.667 17.667 0 1137.667 20 17.688 17.688 0 0120 37.667zm0-33.334A15.667 15.667 0 1035.667 20 15.685 15.685 0 0020 4.333z"></path></svg>
		</div>
	</div>
</section>
<section class="page-blog">
	<div class="container">
		<div class="page-blog__title">
			<h3>بیاموزید که چگونه تجارت حرفه ای خود را در بیزآپ مانند یک حرفه ای بازاریابی کنید</h3>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog1.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog2.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog3.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-alert">
	<div class="container">
		<div class="page-alert__wrapper">
			<div class="page-alert__title">
				<h2>برای شروع آماده هستید؟ رایگان ، آسان است و فقط چند دقیقه طول می کشد.</h2>
			</div>
			<div class="page-alert__button">
				
			</div>
		</div>
	</div>
</section>

<section class="page-text">
	<div class="container">
		<div class="page-text__desc">
			<span>¹ آمار کام اسکار، اکتبر 2021</span>
			<p>² بر اساس یک نظرسنجی که توسط SurveyMonkey برای بیزآپ در ژوئن 2019. مجموع نمونه از 6338 بزرگسالان 18 ساله و مسن تر زندگی در ایالات متحده، از جمله 5028 که آنلاین رفته بود به جستجو برای یک کسب و کار محلی انجام شده است. افرادی که نمونه بیزآپ را دارند: استفاده از بیزآپ حداقل 3 بار در گذشته گزارش شده است. داده ها از نظر جمعیتی وزن دارند تا نماینده جمعیت آنلاین ایالات متحده باشند.</p>
			<span>internal داده های داخلی بیزآپ 2021</span>

		</div>
	</div>
</section>