
@{
	ViewData["Title"] = "PageBusiness";
	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessPageLayout.cshtml";
}

<section class="page-intro1">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="page-intro1__text">
					<div class="page-intro1__text__title">
						<h1>تجارت خود را با بیزآپ توسعه دهید</h1>
					</div>
					<div class="page-intro1__text__desc">
						<p>افراد در بیزآپ به دنبال هزینه کردن پول خود با یک تجارت محلی مناسب هستند. اطمینان حاصل کنید که آنها شما را انتخاب می کنند.</p>
					</div>
					<div class="page-intro1__text__button">
			
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="page-intro1__image">
					<img src="~/Designs/MainWebSite/assets/img/page-intro1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-text-content">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="page-text-content__image">
		
					<img src="~/Designs/MainWebSite/assets/img/graph.png" alt="">
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title2">
						<h3>تجارت با شما را برای مشتریان آسان کنید</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>صفحه شما اغلب اولین نقطه تماس مشتریان با مشاغل شما است. اطمینان حاصل کنید که آنها به روزترین اطلاعات از جمله بهترین راه برای تماس با شما را پیدا کرده اند.</p>
						<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 22H21C21.5523 22 22 21.5523 22 21C22 20.4477 21.5523 20 21 20H3V3C3 2.44772 2.55228 2 2 2C1.44772 2 1 2.44772 1 3V21C1 21.5523 1.44772 22 2 22ZM17.64 6H22.5C22.6377 5.99172 22.7728 6.04072 22.8731 6.1354C22.9735 6.23008 23.0302 6.36203 23.03 6.5V11.37C23.0318 11.5727 22.9085 11.7555 22.72 11.83C22.6575 11.8442 22.5925 11.8442 22.53 11.83C22.3974 11.8316 22.2703 11.7771 22.18 11.68L20.4 9.91L14.99 14.91C14.6094 15.2535 14.0306 15.2535 13.65 14.91L11.4 12.91L6.12 18C5.92938 18.1768 5.67995 18.2765 5.42 18.28C5.14781 18.279 4.88781 18.167 4.7 17.97C4.51069 17.7822 4.4042 17.5266 4.4042 17.26C4.4042 16.9934 4.51069 16.7378 4.7 16.55L10.64 10.8C11.0236 10.4443 11.6164 10.4443 12 10.8L14.32 12.82L19 8.52L17.29 6.85C17.1406 6.71263 17.0962 6.49487 17.18 6.31C17.2545 6.12147 17.4373 5.99824 17.64 6Z" fill="#2B273C"></path></svg>97٪ از کاربران در طی یک هفته با شغلی که در بیزآپ پیدا کرده اند پول خرج می کنند.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row align-items-center">

			<div class="col-sm-6">
				<div class="page-text-content__text">
					<div class="page-text-content__text__title2">
						<h3>به مشتریان بالقوه اطمینان دهید تا شما را انتخاب کنند</h3>
					</div>
					<div class="page-text-content__text__desc">
						<p>با یک صفحه به روز شده ، تجارت خود را از دریای رقبا متمایز کنید. کارهای خود را به نمایش بگذارید ، در نتایج جستجو برجسته شوید ، لیدهای بیشتری را تبدیل کنید و موارد دیگر.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="page-text-content__image">
					<img src="~/Designs/MainWebSite/assets/img/graph2.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-location">
	<div class="container">
		<div class="page-location__title">
			<h2>صفحه خود را به صورت رایگان مدیریت کنید</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info1.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>اطلاعات کسب و کار خود را به روز کنید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>اطلاعات تماس ، ساعات کار خود را به روز کرده و جزئیات امکانات و خدماتی را که تجارت شما ارائه می دهد ارائه دهید.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info2.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>پیام ها را دریافت و به آنها پاسخ دهید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>مشتریان می توانند برای پرسیدن س ،ال ، درخواست نقل قول یا تعیین وقت ملاقات مستقیماً به شما پیام دهند.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="page-location__info">
					<div class="page-location__info__image">
						<img src="~/Designs/MainWebSite/assets/img/info3.png" alt="">
					</div>
					<div class="page-location__info__title">
						<h2>به بررسی ها پاسخ دهید</h2>
					</div>
					<div class="page-location__info__desc">
						<p>با پاسخ به نظرات مشتری اعتماد ایجاد کنید. پاسخ مناسب به یک بررسی مهم می تواند تجربه کلی مشتری را بهبود بخشد.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-feature">
	<div class="container">
		<div class="page-feature__title">
			<span>صفحه به روز می شود</span>
			<h3>از رقابت برجسته باشید</h3>
			<p>برای کمک به اعتماد سازی ، به نمایش گذاشتن کارهای خود ، تبدیل نمایش صفحات بیشتر به مشتریان واقعی و موارد دیگر ، از میان ویژگی های به روزرسانی شده انتخاب کنید.</p>
		</div>
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-feature__image">
					<img src="~/Designs/MainWebSite/assets/img/feature.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="page-feature__text">
					<span>نکات برجسته تجاری</span>
					<p>در نتایج جستجو با نشان هایی که نقاط قوت شما را برجسته می کنند ، برجسته شوید</p>
				</div>
				<div class="page-feature__text">
					<span>تبلیغات رقبا را حذف کنید</span>
					<p>مشتریان بالقوه خود را در صفحه کسب و کار خود متمرکز کنید</p>
				</div>
				<div class="page-feature__text">
					<span>فراخوانی برای اقدام</span>
					<p>دکمه ای اضافه کنید تا مشتریان بتوانند با شما تماس بگیرند</p>
				</div>
				<div class="page-feature__text">
					<span>نمایش اسلاید</span>
					<p>عکس هایی را که می خواهید ابتدا در صفحه و در جستجو ظاهر شوند ، انتخاب کنید</p>
				</div>
				<div class="page-feature__text">
					<span>لوگو</span>
					<p>برای ظاهری حرفه ای تر ، آرم خود را به صفحه خود اضافه کنید</p>
				</div>
				<div class="page-feature__text">
					<span>مجوز تأیید شده</span>
					<p>مجوز تجارت خود را برای اعتماد سازی با مشتریان بالقوه نمایش دهید</p>
				</div>
				<div class="page-feature__text">
					<span>نمونه کارها</span>
					<p>بهترین کار خود را با عکس های پروژه ، توضیحات و هزینه به نمایش بگذارید</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-blog">
	<div class="container">
		<div class="page-blog__title">
			<h3>بیاموزید که چگونه تجارت حرفه ای خود را در بیزآپ مانند یک حرفه ای بازاریابی کنید</h3>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog1.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog2.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="page-blog__item">
					<div class="page-blog__item__image">
						<img src="~/Designs/MainWebSite/assets/img/blog3.jpg" alt="">
					</div>
					<div class="page-blog__item__content">
						<h2>سوال و جوابهای پاسخگویی به نظرات در مورد بیزآپ</h2>
						<a href="#">خواندن مقاله</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-alert">
	<div class="container">
		<div class="page-alert__wrapper">
			<div class="page-alert__title">
				<h2>برای شروع آماده هستید؟ رایگان ، آسان است و فقط چند دقیقه طول می کشد.</h2>
			</div>
			<div class="page-alert__button">
				
			</div>
		</div>
	</div>
</section>

<section class="page-text">
	<div class="container">
		<div class="page-text__desc">
			<span>¹ آمار کام اسکار، اکتبر 2019</span>
			<p>² بر اساس یک نظرسنجی که توسط SurveyMonkey برای بیزآپ در ژوئن 2019. مجموع نمونه از 6338 بزرگسالان 18 ساله و مسن تر زندگی در ایالات متحده، از جمله 5028 که آنلاین رفته بود به جستجو برای یک کسب و کار محلی انجام شده است. افرادی که نمونه بیزآپ را دارند: استفاده از بیزآپ حداقل 3 بار در گذشته گزارش شده است. داده ها از نظر جمعیتی وزن دارند تا نماینده جمعیت آنلاین  ایران باشند.</p>
			<span>internal داده های داخلی بیزآپ 2021</span>

		</div>
	</div>
</section>