<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" id="top">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Luan Gjokaj, and GoPablo contributors">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15" />
	<title>BizzAp | @ViewData["Title"]</title>
	<meta name="description" content="GoPablo is a static site generator with a modern development workflow, integrated web server, auto-reload, CSS preprocessors, and ES6 ready." />
	<link rel="manifest" href="./manifest.json" />
	<link rel="shortcut icon" href="~/Designs/MainWebSite/assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="512x512" href="~/Designs/MainWebSite/assets/img/icon-512.png" />
	<link rel="apple-touch-icon" sizes="192x192" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<link rel="apple-touch-icon-precomposed" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<link rel="icon" sizes="192x192" href="~/Designs/MainWebSite/assets/img/icon-192.png" />
	<meta property="og:site_name" content="GoPablo" />
	<meta property="og:title" content="GoPablo" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="https://www.gopablo.co" />
	<meta property="article:author" content="http://facebook.com/luangjokaj" />
	<!-- Main Style -->
	<link href="~/Designs/MainWebSite/assets/css/styles.css" async defer rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


	<script src="~/Designs/MainWebSite/assets/js/header-bundle.js"></script>
	<link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />

	@RenderSection("Head", required: false)
</head>
<body>

	@RenderBody()
	<footer class="footer-type1">
		<div class="container">
			<div class="footer-type1__ln">
				<div class="row">
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-3">
						<div class="footer-type1__item">
							<div class="footer-type1__item__title">
								<h2>درباره ما</h2>
							</div>
							<ul>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>
								<li><a href="#">قوانین</a></li>

							</ul>
						</div>
					</div>

					<div class="col-lg-3  col-sm-3">
						<div class="footer-type1__ln__item">
							<div class="footer-type1__ln__item__language">
								<h2>زبان ها</h2>
							</div>
							<select class="selectpicker" data-size="12">
								<option>فارسی</option>
								<option>انگلیسی</option>
								<option>آلمانی</option>
								<option>ایتالیایی</option>

							</select>


						</div>
						<div class="footer-type1__ln__item">
							<div class="footer-type1__ln__item__Countries">
								<h2>کشور ها</h2>
							</div>
							<select class="selectpicker" data-size="12">
								<option>ایران </option>
								<option>ایران </option>
								<option>ایران </option>
								<option>ایران </option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-type1__image">
				<img src="~/Designs/MainWebSite/assets/img/footer.png">
			</div>
			<div class="footer-type1__copyright">
				<span>حق چاپ © 2004–2020</span>
				<img src="~/Designs/MainWebSite/assets/img/logo.png">
				<span>,</span>
				<img src="~/Designs/MainWebSite/assets/img/logoo.png">
				<span>و علائم مربوط به آن علائم تجاری ثبت شده یلپ هستند.</span>
			</div>
		</div>
	</footer>
	<footer class="footer-mobile2">
		<div class="container">
			<div class="row">
				<div class="footer-mobile2__language">
					<div class="footer-mobile2__language__title">
						<p>زبان ها</p>
					</div>
					<div class="footer-mobile2__language__select">
						<select class="selectpicker" data-size="12">
							<option>فارسی</option>
							<option>فارسی</option>
							<option>فارسی</option>
							<option>فارسی</option>

						</select>
					</div>
				</div>
				<div class="footer-mobile2__country">
					<div class="footer-mobile2__country__title">
						<p>کشور ها</p>
					</div>
					<div class="footer-mobile2__country__select">
						<select class="selectpicker" data-size="12">
							<option>ایران </option>
							<option>ایران </option>
							<option>ایران </option>
							<option>ایران </option>
						</select>
					</div>
				</div>
			</div>
			<div class="footer-mobile2__list">
				<ul>
					<li>
						<a href="#">درباره</a>
					</li>
					<li><a href="#">وبلاگ</a></li>
					<li><a href="#">حمایت کردن</a></li>
					<li><a href="#">مقررات</a></li>
					<li><a href="#">حریم خصوصی</a></li>
				</ul>
			</div>
			<div class="footer-mobile2__add-work">
				<a href="#">یک کسب و کار در Yelp اضافه کنید</a>
			</div>
			<div class="footer-mobile2__copyright">
				<span>حق چاپ © 2004–2020</span>
				<img src="~/Designs/MainWebSite/assets/img/logo.png" class="img">
				<span>,</span>
				<img src="~/Designs/MainWebSite/assets/img/logoo.png" class="">
				<span>و علائم مربوط به آن علائم تجاری ثبت شده یلپ هستند.</span>
			</div>
		</div>
	</footer>
	

	<script src="~/Designs/MainWebSite/assets/js/footer-bundle.js"></script>
	<script src="~/Designs/MainWebSite/assets/js/scripts.js"></script>
	<script src="~/lib/fontawesome-free/js/all.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>