
@{
	ViewData["Title"] = "پروفایل";
	Layout = "~/Areas/Profile/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-md-6 d-none d-sm-block ">
	<div class="profile-content__comment">
		<div class="profile-content__comment__title">
			<h2>بررسی ها</h2>
		</div>
		
		@* Todo: add recent actitvities here *@

	</div>
</div>
