
@{
	ViewData["Title"] = "UserUploadPhoto";
	Layout = "~/Views/Shared/_AllPagesLayout.cshtml";
}


<section class="page-header">
	<div class="container">
		<div class="page-header__wrapper">
			<ul>
				<li><a href="#">حامد آهنگران</a></li>
				<li><svg id="24x24_chevron_right" height="24" viewBox="0 0 24 24" width="24"><path d="M9.525 5.636L8.11 7.05 13.06 12l-4.95 4.95 1.415 1.414L15.89 12 9.524 5.636z"></path></svg>تصویر پروفایل</li>
			</ul>
			<h2>اضافه کردن تصویر</h2>
		</div>
	</div>
</section>

<section class="upload-pic">
	<div class="container">
		<div class="upload-pic__header">
			<h3>همه چی انجام شد! لطفا توضیحات را بنویسید و روی پیوست کنید.</h3>
		</div>
		<div class="dropzone">
			<form method="post" enctype="multipart/form-data" action="/BusinessGallery/AddPhotoForBusinessByCustomer" id="dropzone1">
				<div class="fallback">
					<input name="file" type="file" multiple>
				</div>
				<div class="dz-message" data-dz-message>
					<span>تصاویر خود را در این قسمت بکشید</span>
					<div class="hr-line"><span>یا</span></div>
					<button type="button">آدرس دهی</button>
				</div>
				<button type="submit">پیوست2</button>

			</form>
		</div>
		<div class="upload-pic__footer">
			<button>پیوست</button>

		</div>
	</div>
</section>

