
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AllPagesLayout.cshtml";
}

<section class="brdcrumbs">
	<div class="container">
		<ul>
			<li><a href="#">رستوران تست</a></li>
			<li><svg id="24x24_chevron_right" height="24" viewBox="0 0 24 24" width="24"><path d="M9.525 5.636L8.11 7.05 13.06 12l-4.95 4.95 1.415 1.414L15.89 12 9.524 5.636z"></path></svg>از مردم بپرسید</li>
		</ul>
	</div>
</section>
<section class="questions">
	<div class="container">
		<div class="questions__title">
			<h1>از مردم بپرسید</h1>
		</div>
		<div class="questions__sort">
			<span>مرتب سازی</span>
			<div class="form-group">
				<select name="" id="" class="form-control selectpicker">
					<option value="">محبوب</option>
					<option value="">آخرین پاسخ</option>
					<option value="">جدید ترین</option>
				</select>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__item">
			<div class="questions__item__title">
				<h2>آیا این مکان خوب است؟</h2>
			</div>
			<div class="questions__item__author">
				<span>پرسش توسط<a href="#">علی زمانیان</a></span>
			</div>
			<div class="questions__item__row">
				<div class="questions__item__avatar">
					<img src="./assets/img/120s.jpg">
				</div>
				<div class="questions__item__desc">
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد ...</p>
					<a href="#">بیشتر بخوانید</a>
					<div class="questions__item__desc__info">
						<b>علی هاشمی, صاحب شغل</b>
						<span>2 ماه پیش</span>
						<span>1 نفر این را مفید دانست</span>
					</div>
				</div>
			</div>
			<div class="questions__item__more">
				<a href="#">نمایش 2 پاسخ بیشتر</a>
			</div>
		</div>
		<div class="questions__form">
			<h3>سوال خود را پیدا نکردید؟ بپرسید</h3>
			<textarea class="form-control" placeholder="دوست دارید درباره این مکان بیشتر بدانید؟"></textarea>
			<div class="questions__check">
				<input type="checkbox" name="" id="questions">
				<label for="questions">پاسخهای جدید را به من اطلاع دهید</label>
			</div>
			<button class="btn">ارسال پیام</button>
		</div>
	</div>
</section>