
@{
	ViewData["Title"] = "Specialities";
	Layout = "~/Areas/BusinessProfile/Views/Shared/_BusinessAccountManageLayout.cshtml";
}
<link href="~/Designs/BusinessProfile/css/specialities.css" rel="stylesheet" />
<div class="main">
	<h1 class="title">لیست استاندارد</h1>
	<div class="hr"></div>
	<div class="main-container">
		<div class="fields">
			<h4 class="title-header">بیزینس شما چیست  </h4>
			<textarea class="textarea" placeholder="توضیحات کلی " name="" id="" cols="30" rows="10"></textarea>
			<div class="buttons">
				<button class="save">ذخیره </button>
				<button class="cancel">بازگشت</button>
			</div>
		</div>
		<div class="helps">
			<div class="title">
				<h6>مرور اطلاعات کلی از کسب و کارشما، دربیزآپ</h6>
				<p>تمام اطلاعات وارد شده، توسط کارشناسان بیرآپ مورد برسی قرار خواهد گرفت</p>
			</div>
			<div class="main-help">
				<div class="title-helps">از ذکر این موارد پرهیزکنید:</div>
				<ul>
					<li>راه های ارتباطی مانند لینک، ایمیل آدرس وب سایت ها </li>
					<li>تکرار بیش از حد کلمات و یا متن طولانی</li>
					<li>محتوا در مکان نامناسب ، مانند سابقه تجارت در زمینه تخصص ها</li>
					<li>
						ارسال پیشنهادات ، اطلاعیه ها و تبلیغات

					</li>
				</ul>
			</div>
		</div>
	</div>
</div>