@model BizApp.Areas.Profile.Models.SharedProfileDetailViewModel

@{
	ViewData["Title"] = "کات بای!؟؟؟";
	Layout = "~/Views/Shared/_AllPagesLayout.cshtml";
}

@section head
{
	<style>
		.submit-btn {
			color: #fff !important;
			background: #d32323;
			padding: 0 35px;
			line-height: 36px;
			border: none;
			border-radius: 3px;
			font-size: 13px;
			font-weight: 600;
			display: inline-block;
			margin-top: 5%;
		}
	</style>
}

<section class="page-header">
	<div class="container">
		<div class="page-header__wrapper">
			<h2>تایید حذف عکس</h2>
		</div>
	</div>
</section>

<section class="page-header">
	<div class="container">
		<partial name="~/Areas/Profile/Views/UserPhoto/Partials/_UserInfoPartial.cshtml" model="Model" />
	</div>
</section>

<section>
	<div class="container">
		<p>آیا از حذف این ارتباط مطمئن هستید؟</p>

		<partial name="~/Areas/Profile/Views/UserPhoto/Partials/_UserInfoPartial.cshtml" model="Model" />

		<form asp-action="delete" asp-controller="userphoto" asp-area="profile" method="post">
			<p>
				<input type="hidden" id="FriendUserId" name="FriendUserId" value="@Model.Id" />
				<input type="hidden" id="FriendFullName" name="FriendFullName" value="@Model.FullName" />
				<button type="submit" class="submit-btn" style="font-size:12px;">حذف</button>
				<a asp-action="index" asp-controller="userphoto" asp-area="profile" class="btn btn-link btn-sm" style="font-size:12px;">انصراف</a>
			</p>
		</form>
	</div>
</section>