
@{
	ViewData["Title"] = "تصاویر پروفایل";
	Layout = "~/Views/Shared/_AllPagesLayout.cshtml";
}

<section class="page-header">
	<div class="container">
		<div class="page-header__wrapper">
			<ul>
				<li><a href="#">@ViewBag.UserName</a></li>
				<li><svg id="24x24_chevron_right" height="24" viewBox="0 0 24 24" width="24"><path d="M9.525 5.636L8.11 7.05 13.06 12l-4.95 4.95 1.415 1.414L15.89 12 9.524 5.636z"></path></svg>تصویر پروفایل</li>
			</ul>
			<h2>اضافه کردن تصویر</h2>
		</div>
	</div>
</section>
<section class="upload-pic">
	<div class="container">
		<form action="/profile/userphoto/upload" method="post" enctype="multipart/form-data" class="dropzone" id="dropzone">
			<div class="fallback">
				<input name="file" type="file" multiple>
			</div>
			<div class="dz-message" data-dz-message>
				<span>تصاویر خود را در این قسمت بکشید</span>
				<div class="hr-line"><span>یا</span></div>
				<button type="button">انتخاب عکس</button>
			</div>
		</form>
	</div>
</section>

@section scripts {
	<script type="text/javascript" src="~/lib/dropzone/min/dropzone.min.js"></script>
	@*<script type="text/javascript">
		Dropzone.options.myAwesomeDropzone = {
			paramName: "files", // The name that will be used to transfer the file
			maxFilesize: 2, // MB
			//accept: function (file, done) {
			//	if (file.name == "justinbieber.jpg") {
			//		done("Naha, you don't.");
			//	}
			//	else { done(); }
			//}
		};
	</script>*@
}
