@if (TempData["message"] != null)
{
	<div class="container" style="padding-top: 10px;">
		<div class="alert alert-success" role="alert">
			@TempData["message"]
		</div>
	</div>
}
else if (TempData["error-message"] != null)
{
	<div class="container" style="padding-top: 10px;">
		<div class="alert alert-danger" role="alert">
			@TempData["error-message"]
		</div>
	</div>

}