@model BizApp.Models.Basic.MainPage_SliderViewModel
<div class="yelp-paris__content">
	<div class="row">
		@foreach (var item in Model.MainPage_Category)
		{
			<div class="col-lg-3 col-6">
				<div class="yelp-paris__content__item">
					<a href="#">
						@*<a href="@item.Id">*@
						@*<img src="@item.PngIcon">*@
						@if (string.IsNullOrEmpty(item.PngIcon))
						{
							<img src="~/Designs/MainWebSite/assets/img/restaurants.png">
						}
						else
						{
							<img src="@item.PngIcon">

						}

						<h3>@item.Name</h3>
					</a>
				</div>
			</div>
		}
		<div class="col-lg-3 col-6">
			<div class="yelp-paris__content__item">
				<a href="#">
					<img src="~/Designs/MainWebSite/assets/img/more.png">
					<h3>بیشتر</h3>
				</a>
			</div>
		</div>
	</div>
</div>