<div class="recent-activities__modal modal fade" id="click-image" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="recent-activities__modal__close" data-dismiss="modal">
					<span>بستن</span>
					<svg id="24x24_close" height="24" viewBox="0 0 24 24" width="24"><path d="M17.657 19.07L12 13.415 6.343 19.07 4.93 17.658 10.585 12 4.93 6.343 6.342 4.93 12 10.585l5.657-5.657L19.07 6.34 13.416 12l5.657 5.657-1.413 1.414z"></path></svg>

				</div>
				<div class="row" data-space="10">
					<div class="col-lg-10 col-md-9 col-sm-8">
						<div class="swiper-container" >

							<div class="swiper-wrapper" id="modalbusinessmediapictures">
								@*<div class="swiper-slide">
									<div class="recent-activities__modal__image">
										<a href="#">
											<img id="" src="~/Designs/MainWebSite/assets/img/hamber.jpg" alt="">
										</a>
									</div>
									<div class="recent-activities__modal__footer-slide">
										<div class="recent-activities__modal__footer-slide__right">
											<a href="#">
												<svg id="18x18_grid" height="18" viewBox="0 0 18 18" width="18"><path d="M10 15v-5h5v5h-5zm0-12h5v5h-5V3zm-7 7h5v5H3v-5zm0-7h5v5H3V3z"></path></svg>
												نمایش همه
											</a>
										</div>
										<div class="recent-activities__modal__footer-slide__left">
											<a href="#">
												<svg id="18x18_share" height="18" viewBox="0 0 18 18" width="18"><path d="M17.714 6.43L13 10.356v-3.03c-1 0-5.097 1.47-6.286 3.62.274-3.08 4.286-5.5 6.286-5.5V2.5l4.714 3.93zM3 4v10h11v-2.5l1-1V15H2V3h8.5l-1 1H3z"></path></svg>
												اشتراک گذاری
											</a>
										</div>
									</div>
								</div>
								<div class="swiper-slide">

									<div class="recent-activities__modal__image">
										<a href="#">
	
											<img src="~/Designs/MainWebSite/assets/img/hamber.jpg" alt="">
										</a>
									</div>
									<div class="recent-activities__modal__footer-slide">
										<div class="recent-activities__modal__footer-slide__right">
											<a href="#">
												<svg id="18x18_grid" height="18" viewBox="0 0 18 18" width="18"><path d="M10 15v-5h5v5h-5zm0-12h5v5h-5V3zm-7 7h5v5H3v-5zm0-7h5v5H3V3z"></path></svg>
												نمایش همه
											</a>
										</div>
										<div class="recent-activities__modal__footer-slide__left">
											<a href="#">
												<svg id="18x18_share" height="18" viewBox="0 0 18 18" width="18"><path d="M17.714 6.43L13 10.356v-3.03c-1 0-5.097 1.47-6.286 3.62.274-3.08 4.286-5.5 6.286-5.5V2.5l4.714 3.93zM3 4v10h11v-2.5l1-1V15H2V3h8.5l-1 1H3z"></path></svg>
												اشتراک گذاری
											</a>
										</div>
									</div>
								</div>*@
							</div>
							<div class="swiper-pagination"></div>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-sm-4">
						<div class="recent-activities__modal__content">
							<div class="recent-activities__modal__content__title">
								<div class="recent-activities__modal__content__title__avatar">
									<a href="#"><img id="modalUserProfilePicture"  alt=""></a>
								</div>
								<div class="recent-activities__modal__content__title__info">
									<div class="recent-activities__modal__content__title__info__name">
										<a href="#" id="modalcreatorname"></a>
									</div>
									<div class="recent-activities__modal__content__title__info__status">
										<ul>
											<li>
												<svg id="24x24_friends" height="24" viewBox="0 0 24 24" width="24"><g><path d="M10.824 13.817l-2.482 5.946c-.69 1.65-2.995 1.65-3.684 0l-2.482-5.946C1.618 12.48 2.586 11 4.018 11h4.964c1.432 0 2.4 1.48 1.842 2.817zM6.5 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path><path d="M21.824 13.817l-2.482 5.946c-.69 1.65-2.995 1.65-3.684 0l-2.482-5.946c-.558-1.337.41-2.817 1.842-2.817h4.964c1.432 0 2.4 1.48 1.842 2.817zM17.5 9a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" opacity=".502"></path></g></svg>
												<span>0</span>

											</li>
											<li>
												<svg id="24x24_review" height="24" viewBox="0 0 24 24" width="24"><path d="M21 6a3 3 0 0 0-3-3H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6zm-5.88 10.428l-3.16-1.938-3.05 2.01.59-3.457L7 10.596l3.457-.505L11.96 6.5l1.582 3.59 3.458.506-2.5 2.447.62 3.385z"></path></svg>
												<span id="modalbusinessreviews"></span>
											</li>
											<li>
												<a href="#" id="modalbusinessrate">نظرات</a>

											</li>
										</ul>
									</div>

								</div>



							</div>
							<div class="recent-activities__modal__content__desc">
								<p id="modalbusinssdescription"></p>
							</div>
							<div class="recent-activities__modal__content__date">
								<span  id="modalbusinessdate"></span>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>