@model BizApp.Areas.Admin.Models.CreateBusinessViewModel

@{
	ViewData["Title"] = "Index";

	//var provicnes = TempData["Provinces"] as List<ProvinceViewModel>;
	//TempData.Keep("Provinces");
}

@section head {
	<link href="~/css/autocomplete.css" rel="stylesheet" />
}

<div class="content-header">
	<h1 style="float:right">
		مدیریت کسب و کارها
	</h1>
	<ol class="breadcrumb">
		<li><a href="/admin"><i class="fa fa-home"></i> خانه</a></li>
		<li class="active"><a href="/admin/businesses">کسب و کارها</a></li>
		<li class="active">جدید</li>
	</ol>
</div>


<div class="row">
	<div class="col-sm-12">
		@using (Html.BeginForm("create", "Businesses", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<div class="box zmdi-border-color" style="height:auto; padding:5px; margin: 5px;">
				<div class="box-body table-responsive no-padding row ">
					<div style="width:90%;margin-right:40px;margin-top:10px">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="Name">نام کسب و کار</label>
								<input asp-for="Name" placeholder="نام کسب و کار را وارد کنید" class="form-control" aria-describedby="namelHelp" required>
								<small id="nameHelp" class="form-text text-muted">نام مناسب با کسب و کار خود را تا حداکثر 50 کاراکتر وارد کنید</small>
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="DistrictId">انتخاب منطقه</label>
								<select asp-for="provinceId" class="form-control"
										asp-items="@(new SelectList(ViewBag.Provinces, "ProvinceId", "Name"))">
									<option value="0">لطفا شهرستان را انتخاب کنید</option>
								</select>
								<select asp-for="cityId" class="form-control" style="margin: 2px 0;">
									<option>لطفا شهر را انتخاب کنید</option>
								</select>
								<select asp-for="districtId" class="form-control" style="margin: 2px 0;" required>
									<option value="0">لطفا ناحیه را انتخاب کنید</option>
								</select>
								<span asp-validation-for="districtId" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="DistrictId">دسته</label>

								<div style="position: relative; height: 80px;">
									<input type="text" placeholder="حداقل 3 کاراکتر تایپ کنید" id="autocomplete-ajax" class="form-control" />
									<div id="categorySelection">دسته انتخاب شده: هیچ</div>
									<input asp-for="categoryId" style="display:none" />
								</div>
							</div>

							<div class="form-group">
								<textarea asp-for="Description" class="form-control" placeholder="توضیحات"></textarea>
							</div>
							<div class="form-group">
								<textarea asp-for="biograpy" class="form-control" placeholder="بیوگرافی کسب و کار"></textarea>
							</div>
							<div class="form-group col-md-12">
								<label>انتخاب موقعیت</label>
								<div id="mapid" style="height:300px"></div>
								<input id="latitude" name="latitude" hidden />
								<input id="longitude" name="longitude" hidden />
							</div>

							<div class="form-group col-md-12">
								<label for="address">نشانی کسب و کار</label>
								<input asp-for="address" placeholder="نشانی کسب و کار را وارد کنید" class="form-control" required>
								<span asp-validation-for="address" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="websiteurl">شماره تماس</label>
								<input asp-for="CallNumber" type="tel" placeholder="شماره تماس را وارد کنید" class="form-control" required>
								<span asp-validation-for="CallNumber" class="text-danger"></span>

							</div>

							<div class="form-group col-md-6">
								<label for="websiteurl">کد پستی</label>
								<input asp-for="PostalCode" placeholder="کد پستی را وارد کنید" class="form-control">
								<span asp-validation-for="PostalCode" class="text-danger"></span>
							</div>

							<div class="form-group col-md-6">
								<label for="websiteurl">آدرس وبسایت</label>
								<input asp-for="websiteurl" placeholder="آدرس وبسایت را وارد کنید" class="form-control" aria-describedby="websiteurlHelp">
								<small id="websiteurlHelp" class="form-text text-muted">مثال: sitename.com</small>
							</div>
							<div class="form-group col-md-6">
								<label for="websiteurl">ایمیل</label>
								<input asp-for="Email" placeholder="ایمیل را وارد کنید" class="form-control">
							</div>

							<div class="form-group col-md-6" style="margin-right:5px">
								<label for="exampleInputEmail1">تصویر اصلی کسب و کار:</label>
								<div id="main-container">
									<input display="Image" id="file" name="file" class="TheFile" onchange="SetPictures('file','ImageItems');" style="display:none" type="file">
									<button type="button" style="height:20%;margin-left:15px;top:0;" class="btn btn-primary" onclick="file.click()"><i class="fa fa-camera"></i>انتخاب کنید</button>
									<div id="ImageItems" style="width:400px;height:auto;margin-left:5px;margin-top:15px">
									</div>
									<div id="RemoveImageItems" style="width:auto;height:auto;margin-left:5px;">
									</div>
								</div>
							</div>
							<div class="form-group" style="margin-right:5px">
								<label for="exampleInputEmail1">تصاویر دیگر کسب و کار:</label>
								<div id="main-container">
									<input display="BussinessFiles" id="BussinessFiles" name="BussinessFiles" class="BussinessFiles" onchange="SetPictures('BussinessFiles','BussinessFilesItems');" style="display:none" multiple type="file">
									<button type="button" style="height:20%;margin-left:15px;top:0;" class="btn btn-primary" onclick="BussinessFiles.click()"><i class="fa fa-camera"></i>انتخاب کنید </button>
									<div id="BussinessFilesItems" style="width:400px;height:auto;margin-left:5px;margin-top:15px">

									</div>
									<div id="RemoveMusicFilesItems" style="width:auto;height:auto;margin-left:5px;">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="margin-top:20px">
					<button id="saveButton" style="margin-right:20px;" type="submit" class="btn btn-light">ذخیره کسب و کار</button>
				</div>
			</div>
		}
	</div>
</div>

<div class="modal fade " id="modalcategory">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header " style="text-align:center">
				<h6 class="modal-title" style="margin:auto;vertical-align:middle;">دسته بندی</h6>
			</div>
			<div class="modal-body" id="categorybody">
				@foreach (var item in (IEnumerable<Category>)ViewData["Categorie"])
				{
					<div class="form-group" onclick="CategoryGetChilds(@item.Id);">
						<div style="width : 100% ;height:30px ;background-color:whitesmoke;border-bottom:1px solid">
							<p style="text-align:center;height:inherit;cursor:pointer">@item.Name</p>
						</div>
					</div>
				}
			</div>

			<div id="divbtnreturn">
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

@section scripts {
	<script src="~/lib/autocomplete/jquery.autocomplete.js"></script>
	<script src="~/Admin/js/create-business.js"></script>

	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
